.summary {
    margin-bottom: 25px;
}

.box {
    background: var(--background-section);
    border: 1px solid var(--border-color);
    padding: 20px;
    text-align: center;
    color: var(--color--text-secondary);
    font-weight: 500;
}

.box span {
    display: block;
    font-size: 2.2rem;
    color: var(--success-color);
    font-weight: 470;
    margin-top: 5px;
}